<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228571310427-0nb81jnbafqm0tk155cldp6is9prhjrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228571310427-0nb81jnbafqm0tk155cldp6is9prhjrf</string>
	<key>API_KEY</key>
	<string>AIzaSyDdxaIRmyyLnT33o5JqK5NpbVv97YxNY00</string>
	<key>GCM_SENDER_ID</key>
	<string>228571310427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olala.jupviec</string>
	<key>PROJECT_ID</key>
	<string>fir-fcm-f988b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-fcm-f988b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:228571310427:ios:c07afb77076d97332fd27e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-fcm-f988b.firebaseio.com</string>
</dict>
</plist>
